/* 
    :root {
    
    --background-color: #1e1e1e;
    --secondary-bgcolor: #4f4f4f;
    --text-color: #ffffff;
    --color-purple: #eb4cce;
    --color-skyblue: #6de6fc;
    --color-turquoise: #8dfce8;
    --color-yellow: #fbf05e;
    
    }
*/