* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #1e1e1e; /*Används som djupaste bakgrund*/
  --secondary-bgcolor: #4f4f4f; /*Används som sekundär bakgrund, ovanpå djupaste bakgrund*/
  --text-color: #ffffff;
  --color-purple: #eb4cce; /*--color-text används som sparsmakade färgklickar, placeras sporadiskt som på Plasticity */
  --color-skyblue: #6de6fc;
  --color-turquoise: #8dfce8;
  --color-yellow: #fbf05e;

  --bottom-margin: 0.5rem;
  --link-margin: 1.5rem;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.menu {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.menu img {
  width: 300px;
}

.menu #links a {
  font-size: 20px;
  font-weight: 200;
  padding: 1rem;
  gap: 2rem;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--color-purple);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.hamburger {
  display: none;
  cursor: pointer;
}

h1 {
  font-size: 3rem;
  margin-bottom: var(--bottom-margin);
}

a {
  color: var(--color-skyblue);
  text-decoration: none;
  font-weight: bold;

  margin-top: var(--link-margin);
}

/* SECTIONS */
/* Hero */
#hero-section {
    position: relative; 
    height: 20rem;

    background-image: url("assets/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#hero-section > * {
  position: relative;
  z-index: 1000;
}

@media (max-width: 768px) {
  .links {
    display: none;
    flex-direction: column;
    background-color: #222;
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;
    padding: 1rem;
  }
   .links.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
